<%= form_tag("/add", method: "post") do %>
    <%= text_field_tag 'product'%>
    <%= submit_tag 'add to cart' %>
<% end %>

Your Cart
<% if !@cart_products.nil? %>
    <ul>
    <%=  @cart_products.each do |product| %>
        <li> <%= product %> </li>
    <% end %>
    </ul>
<% end %>